<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/login"
      text="Volver">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<ion-card>
  <ion-card-header>
    <ion-card-title>Cambiar contraseña</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-col>
      <ion-input [(ngModel)]="correo" label="Correo: "></ion-input>
    </ion-col>
    <ion-button (click)="resetPassword()"  shape="round"> Restablecer contraseña </ion-button>
  </ion-card-content>
</ion-card>