ion-card-title{
    font-family: titulo;
    color: #25291C;
}

ion-card{
    --background: #EEEBD0;
}

ion-content{
    --background: #815E5B;
}

ion-title{
    font-family: titulo;
    color: #25291C;
}

ion-toolbar{
    --background: #EEEBD0;
    color: #815E5B;
}

ion-card{
    display: flex;
    flex-direction: column;
    text-align:center;
}

ion-button{
    --background: #FFA5A5;
    --background-hover: #FFA5A5;
}