ion-card-title{
    font-family: titulo;
    text-align:center;
    color: #25291C;
}

ion-card{
    --background: #EEEBD0;
}

ion-content{
    --background: #FFA5A5;
}

ion-button{
    --background: #815E5B;
    --background-hover: #815E5B;
    justify-content: center;
    align-items: center;
}